@{
    ViewBag.Title = "首页看板";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<style></style>
<script>
    $(function () {
        $.SetForm({
            url: "/SiteManage/Index/GetHomeJson",
            param: null,
            success: function (data) {
                if (data != null) {
                    if (data.CompayNewCount) {
                        $("#CompayNewCount").html(data.CompayNewCount);
                    }
                    if (data.HealthNewCount) {
                        $("#HealthNewCount").html(data.HealthNewCount);
                    }
                    if (data.ServiceResourceCount) {
                        $("#ServiceResourceCount").html(data.ServiceResourceCount);
                    }
                    if (data.MedicalResourceCount) {
                        $("#MedicalResourceCount").html(data.MedicalResourceCount);
                    }
                    if (data.HealthAticleCount) {
                        $("#HealthAticleCount").html(data.HealthAticleCount);
                    }

                }
            }
        });
    })
    function OpenNav(id) {
        window.parent.OpenNav(id);
    }
</script>
<div class="" style="">
    <div class="portal-panel" style="background:white" id="home">
        <div class="row">
            <div class="portal-panel-title">
                <i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;统计指标
            </div>
            <div class="portal-panel-content" style="margin-top: 15px; overflow: hidden;">
                <div class="row">
                    <div style="width: 20%; position: relative; float: left;" class="panel" id="A001">
                        <div class="task-stat" style="background-color: #578ebe;">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number" id="HealthNewCount">
                                    0
                                </div>
                                <div class="desc">
                                    健康资讯条数
                                </div>
                            </div>
                            <a class="more" style="background-color: #4884b8;" href="javascript:;">
                                查看更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div style="width: 20%; position: relative; float: left;" class="panel" id="A005">
                        <div class="task-stat" style="background-color: #3598dc;">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number" id="CompayNewCount">
                                    0
                                </div>
                                <div class="desc">
                                    公司新闻条数
                                </div>
                            </div>
                            <a class="more" style="background-color: #258fd7;" href="javascript:;">
                                查看更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div style="width: 20%; position: relative; float: left;" class="panel" id="A002">
                        <div class="task-stat" style="background-color: #e35b5a;">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number" id="ServiceResourceCount">
                                    0
                                </div>
                                <div class="desc">
                                    服务团队人数
                                </div>
                            </div>
                            <a class="more" style="background-color: #e04a49;" href="javascript:;">
                                查看更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div style="width: 20%; position: relative; float: left;" class="panel" id="A003">
                        <div class="task-stat" style="background-color: #44b6ae;">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number" id="MedicalResourceCount">
                                    0
                                </div>
                                <div class="desc">
                                    医疗团队人数
                                </div>
                            </div>
                            <a class="more" style="background-color: #3ea7a0;" href="javascript:;">
                                查看更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div style="width: 20%; position: relative; float: left;" class="panel" id="A004">
                        <div class="task-stat" style="background-color: #8775a7;">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number" id="HealthAticleCount">
                                    0
                                </div>
                                <div class="desc">
                                    健康服务文章数
                                </div>
                            </div>
                            <a class="more" style="background-color: #7c699f;" href="javascript:;">
                                查看更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
