@{
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新闻资讯";
}
<script src="~/WebSiteContent/js/jquery.pager.js"></script>
<link href="~/WebSiteContent/css/Pager.css?aa=1" rel="stylesheet" />
<script>
    var para = {
        page: 1,
        pagesize: 5,
        totalPage: 0
    };
    var type = request('type')
    if (type) {
        type = type;
    } else {
        type = 1;
    }
    function request(keyValue) {
        var search = location.search.slice(1);
        var arr = search.split("&");
        for (var i = 0; i < arr.length; i++) {
            var ar = arr[i].split("=");
            if (ar[0] == keyValue) {
                if (unescape(ar[1]) == 'undefined') {
                    return "";
                } else {
                    return unescape(ar[1]);
                }
            }
        }
        return "";
    }
    function GetData(page) {
        $.get("/WebSite/News/GetNewsPageList", { page: page, pagesize: para.pagesize, type: type }, function (data) {
            if (data) {
                var json = eval("(" + data + ")");
                var rows = json.rows;
                var html = "";
                if (type == 2) {
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                        var path = "/WebSiteContent/images/nopic.png";
                        if (row.FaceImage) {
                            path = row.FaceImage;
                        }
                        html += '<div style="margin-top:10px;">';
                        html += '<div class="col-md-3"> <img src="' + path + '" title="name" width="100%"> </div>';
                        html += ' <div class="col-md-9">';
                        html += '   <div class="" style="font-weight:bold; font-size:18px;color:#1a6cb9"><a href="/WebSite/News/Detail?id=' + row.NewsId + '">' + row.Title + '</a>  </div>';
                        html += ' <div class="" style="text-align:right;color:#ccc;padding:10px"> --' + row.CreateTime + '</div>';
                        html += '  <div class="" style="padding:10px"> ' + row.SortDesc + '</div>';
                        html += '  <div style="text-align: right"><a href="/WebSite/News/Detail?id=' + row.NewsId + '" class="more">more..</a></div>';
                        html += ' </div>';
                        html += '</div>';
                        html += '<div class="clearfix"> </div>';

                    }
                } else {
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                        var path = "/WebSiteContent/images/nopic.png";
                        if (row.FaceImage) {
                            path = row.FaceImage;
                        }
                        if (i % 2 == 0) {
                            html += '<div style="margin-top:10px">';
                            html += '<div class="col-md-4"> <img src="' + path + '" title="name" width="100%"> </div>';
                            html += ' <div class="col-md-8">';
                            html += '   <div class="" style="font-weight:bold; font-size:18px;color:#1a6cb9"><a href="/WebSite/News/Detail?id=' + row.NewsId + '">' + row.Title + '</a>  </div>';
                            html += '  <div class=""> ' + row.SortDesc + '</div>';
                            html += ' <div class="" style="text-align:right;color:#ccc;padding:10px"> --' + row.CreateTime + '</div>';
                            //html += '  <div style="text-align: right"><a href="/WebSite/News/Detail?id=' + row.NewsId + '" class="more">more..</a></div>';
                            html += ' </div>';
                            html += '<div class="clearfix"> </div>';
                            html += '</div>';
                          
                        } else {
                            html += '<div style="padding:10px;margin-top:20px;">';
                            html += ' <div class="col-md-8">';
                            html += '<div class="" style="font-weight:bold; font-size:18px;color:#1a6cb9"><a href="/WebSite/News/Detail?id=' + row.NewsId + '">' + row.Title + '</a> </div>';
                            html += '<div class="">  ' + row.SortDesc + '</div>';
                            html += ' <div class="" style="text-align:right;color:#ccc;padding:10px"> --' + row.CreateTime + '</div>';
                            //html += '  <div style="text-align: right"><a href="/WebSite/News/Detail?id=' + row.NewsId + '" class="more">more..</a></div>';
                            html += ' </div>';
                            html += '<div class="col-md-4" style="text-align:rigth">';
                            html += ' <img src="' + path + '" title="name" width="100%">';
                            html += '</div>';
                            html += ' <div class="clearfix"> </div>';
                            html += '</div>';
                         
                        }
                    }
                }
                $("#newspanel").empty().append(html);
                $("#pager").pager({ pagenumber: page, pagecount: json.total, buttonClickCallback: PageClick });
            }
        });
    }
    PageClick = function (page) {
        GetData(page);
    }
    $(function () {
        GetData(1);

    });
</script>

<style>
</style>

<script>
    //等待dom元素加载完毕.
    $(function () {
        //$(".treebox .level1>a").click(function () {
        //    $(this).addClass('current')   //给当前元素添加"current"样式
        //    .find('i').addClass('down')   //小箭头向下样式
        //    .parent().next().slideDown('slow', 'easeOutQuad')  //下一个元素显示
        //    .parent().siblings().children('a').removeClass('current')//父元素的兄弟元素的子元素去除"current"样式
        //    .find('i').removeClass('down').parent().next().slideUp('slow', 'easeOutQuad');//隐藏
        //    return false; //阻止默认时间
        //});
    })
</script>

<img src="@(new QSDMS.Application.Web.Areas.WebSite.Controllers.BaseController().GetBackGround("5") == "" ? "/WebSiteContent/images/title2.jpg" : new QSDMS.Application.Web.Areas.WebSite.Controllers.BaseController().GetBackGround("5"))" width="100%" class="wow animated fadeInUp" height="100%" />
<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-md-3">
            <div class="bgTitle" style="margin-top:10px;">@(new QSDMS.Application.Web.Areas.WebSite.Controllers.BaseController().GetLanguageName("header5"))</div>
            <div class="treebox">
                <ul class="menu">

                    <li class="level1">
                        <a class="current" href="/WebSite/News/Index?type=1"><em class="ico ico3"></em>@(new QSDMS.Application.Web.Areas.WebSite.Controllers.BaseController().GetLanguageName("nav1"))<i></i></a>

                    </li>
                    <li class="level1">
                        <a class="current" href="/WebSite/News/Index?type=2"><em class="ico ico3"></em>@(new QSDMS.Application.Web.Areas.WebSite.Controllers.BaseController().GetLanguageName("nav2"))<i></i></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-9" id="newspanel">

        </div>
    </div>
    <div class="row" style="float:right;padding:20px;">
        <div id="pager"></div>
    </div>
</div>
